<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center col-12 md:col-6">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">
            <div class="w-full surface-card py-8 px-5 sm:px-8 p-fluid" style="border-radius:53px">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="field">
                    <label for="documento" class="block">Documento (CNPJ/CPF)</label>
                    <input type="text" formControlName="documento" id="documento" placeholder="Digite seu CNPJ/CPF" mask="000.000.000-00000" [mask]="documentoMask()" pInputText>
                    <div *ngIf="registerForm.get('documento').invalid && (registerForm.get('documento').dirty || registerForm.get('documento').touched)">
                    <div *ngIf="registerForm.get('documento').errors?.required" class="p-error block">Documento é obrigatório</div>
                    <div *ngIf="registerForm.get('documento').errors?.invalidCnpjCpf" class="p-error block">Documento inválido</div>
                    </div>
                </div>

                <div class="field">
                    <label for="razaoSocial" class="block">Razão Social</label>
                    <input type="text" formControlName="razaoSocial" id="razaoSocial" placeholder="Digite sua razão social" pInputText>
                    <div *ngIf="registerForm.get('razaoSocial').invalid && (registerForm.get('razaoSocial').dirty || registerForm.get('razaoSocial').touched)">
                    <div *ngIf="registerForm.get('razaoSocial').errors?.required" class="p-error block">Razão Social é obrigatória</div>
                    <div *ngIf="registerForm.get('razaoSocial').errors?.invalidRazaoSocial" class="p-error block">Razão Social inválida</div>
                    </div>
                </div>

                <div class="field">
                    <label for="email" class="block">Email</label>
                    <input type="email" formControlName="email" id="email" placeholder="Digite seu email" pInputText>
                    <div *ngIf="registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                    <div *ngIf="registerForm.get('email').errors?.required" class="p-error block">Email é obrigatório</div>
                    <div *ngIf="registerForm.get('email').errors?.email" class="p-error block">Email inválido</div>
                    </div>
                </div>

                <div class="field">
                    <label for="usuario" class="block">Nome</label>
                    <input type="text" formControlName="usuario" id="usuario" placeholder="Digite seu nome" pInputText>
                    <div *ngIf="registerForm.get('usuario').invalid && (registerForm.get('usuario').dirty || registerForm.get('usuario').touched)">
                    <div *ngIf="registerForm.get('usuario').errors?.required" class="p-error block">O nome é obrigatório</div>
                    <div *ngIf="registerForm.get('usuario').errors?.minlength" class="p-error block">O nome deve ter no mínimo 3 caracteres</div>
                    <!-- Adicione feedback de erro para login único aqui -->
                    </div>
                </div>

                <div class="field">
                    <label for="senha" class="block">Senha</label>
                    <input type="password" formControlName="senha" id="senha" placeholder="Digite sua senha" pInputText>
                    <div *ngIf="registerForm.get('senha').invalid && (registerForm.get('senha').dirty || registerForm.get('senha').touched)">
                    <div *ngIf="registerForm.get('senha').errors?.required" class="p-error block">Senha é obrigatória</div>
                    <div *ngIf="registerForm.get('senha').errors?.pattern" class="p-error block">Senha deve ter pelo menos uma letra maiúscula, uma letra minúscula, um número e um caractere especial</div>
                    </div>
                </div>

                <div class="field">
                    <label for="confirmarSenha" class="block">Confirmar Senha</label>
                    <input type="password" formControlName="confirmarSenha" id="confirmarSenha" placeholder="Confirme sua senha" pInputText>
                    <div *ngIf="registerForm.hasError('mismatch') || (registerForm.get('confirmarSenha').invalid && (registerForm.get('confirmarSenha').dirty || registerForm.get('confirmarSenha').touched))">
                    <div *ngIf="registerForm.get('confirmarSenha').errors?.required" class="p-error block">Confirmação de senha é obrigatória</div>
                    <div *ngIf="registerForm.hasError('mismatch')" class="p-error block">Senhas não coincidem</div>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.invalid" pButton label="Registrar"></button>
            </form>
        </div>
    </div>
</div>
