<p-dialog header="User Details" [(visible)]="display" modal="true" [style]="{width: '450px'}" (onHide)="onHide.emit()">
    <form [formGroup]="userForm" (ngSubmit)="saveUser()">
      <div class="p-fluid">
        <div class="field">
          <label for="nome">Name</label>
          <input id="nome" type="text" pInputText formControlName="nome" autofocus />
          <div *ngIf="userForm.get('nome').invalid && (userForm.get('nome').dirty || userForm.get('nome').touched)">
            <small *ngIf="userForm.get('nome').errors?.required" class="p-error">
              Name is required.
            </small>
          </div>
        </div>
        <div class="field" *ngIf="!_user.codigo">
            <label for="email">Email</label>
            <input id="email" type="text" pInputText formControlName="email" autofocus />
            <div *ngIf="userForm.get('email').invalid && (userForm.get('email').dirty || userForm.get('email').touched)">
              <small *ngIf="userForm.get('email').errors?.required" class="p-error">
                Email is required.
              </small>
            </div>
          </div>
        <div class="field">
          <label for="perfil">Role</label>
          <p-dropdown id="perfil" formControlName="perfil" [options]="roles" optionLabel="nome" placeholder="Select a Role"></p-dropdown>
        </div>
        <button pButton type="submit" label="Save" icon="pi pi-check" [disabled]="!userForm.valid" class="p-mt-2"></button>
      </div>
    </form>
  </p-dialog>
