<p-dialog header="Role Details" [(visible)]="display" modal="true" [style]="{width: '450px'}" (onHide)="onHide.emit()">
    <form *ngIf="roleForm" [formGroup]="roleForm">
      <div class="p-fluid">
        <div class="field">
          <label for="nome">Name</label>
          <input id="nome" type="text" pInputText formControlName="nome" autofocus />
          <div *ngIf="roleForm.hasError('mismatch') || (roleForm.get('nome').invalid && (roleForm.get('nome').dirty || roleForm.get('nome').touched))">
            <small *ngIf="roleForm.get('nome').errors?.required && (roleForm.get('nome').dirty || roleForm.get('nome').touched)" class="p-error">
                Name is required.
            </small>
          </div>
        </div>
        <button pButton type="button" label="Save" icon="pi pi-check" (click)="saveRole()" [disabled]="!roleForm.valid" class="p-mt-2"></button>
      </div>
    </form>
  </p-dialog>
